@import url('reset.css');

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

/* GLOBAL CLASSES */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}





body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	font-size: 14px;
	color: #212121;
  
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* HEADER */

.header {
	border: 1px solid #ECECEC;
	padding: 25px 0;
	font-weight: 500;
}

.header-container {
	display: flex;
	align-items: center;
}



.header-menu {
	display: flex;
	gap: 50px;
	margin-left: 90px;
}

.header-menu a.active {
	color: #2196F3;
}

.header-second-menu {
	margin-left: auto;
	display: flex;
	gap: 50px;
}
.header-burger{
  display: none;
}

.header-menu a,
.header-second-menu a {
	color: #212121;
	text-decoration: none;
}

.header-menu a:hover,
.header-second-menu a:hover {
	color: #2196F3;
}


/* HERO SECTION */

.hero {
	 background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  position: relative;
}
.hero-inner {
	max-width: 700px;
	min-height: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 5px;
	position: relative;
}

.hero-btn {
	padding: 14px 46px 15px;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	background: #2196F3;
	border-radius: 4px;
	cursor: pointer;
	align-self: center;
	position: relative;
}

.hero:before{
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0,0, 0, .5);

}
.icons-container{
	display: flex;
	justify-content: space-between;
	gap: 30px;
	
}
.icons{
	display: flex;
	justify-content: space-between;
    padding: 94px 0;
	
}
.icon {
position: relative;
  width: 270px;
  padding-top: 120px; 
  display: flex;
  flex-direction: column;
}
.icon:before{
  content: "";
  position: absolute;
  top: 0;             
  left: 0;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background:#F5F4FA;
  background-image: url("../images/antenna\ 1.svg");
  background-repeat: no-repeat;
  background-position: center;
	
}
.icon:nth-child(2)::before {
background-image:url(../images/clock\ 1.svg);
}
.icon:nth-child(3)::before{
	background-image: url(../images/diagram\ 1.svg);
}
.icon:nth-child(4)::before{
	background-image: url(../images/astronaut\ 1.svg);
}
.icons-title{
	padding-top: 30px;
	font-size: 14px;
	font-weight: 700;
}
.icons-desc{
	padding-top: 10px;
	font-size: 14px;
	font-weight: 400;
}
	.do {
	padding: 94px 0;
}

.do-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.do-card {
	height: 294px;
	flex: 1 1 30%;
	position: relative;
}

.do-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.do-card-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	padding: 15px 10px;
	background: rgba(0, 0, 0, .6);
	text-align: center;
}


/* ABOUT */



/* TEAMS */
.team {
	background: #F5F4FA;
	padding: 94px 0;
	text-align: center;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
  text-align: center;
}

.team-cards {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.team-card {
	flex: 1 1 20%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 14px 0 #ccc;
}

.team-card-link {
	display: block;
	height: 260px;
}

.team-card-link img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team-card-inner {
	padding: 30px;
	font-size: 16px;
	background: #fff;
}

.team-card-title {
	font-weight: 500;
}

.team-card-desc {
	color: #757575;
	margin-top: 10px;
}
.team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-top: 28px;
 
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  
  
}
.icons-sprites{
	width: 20px;
	height: 20px;
	fill: #afb1b8 ;
  
}

.team-socials a:hover {
  background: #2196f3;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 10px 10px;
 
}
.icons-sprites:hover{
	fill: #FFFFFF;
}

  .customers {
  padding: 60px 0;
  background-color:#FFFFFF;
  margin-top: 94px;
}

.customers-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.customers-list {
  display: flex;
  gap: 30px;
  list-style: none;
  justify-items: center;
}

.customer-link {
display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.customer-link:hover {
  border-color: #2196f3;
}
.customer-link:hover .customer-icon{
  fill: #2196f3;
}
.customer-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 0.3s ease;
}

.footer{
    background-color:#2F303A ;
    padding: 60px 0;
}
.inform{
	width: 172px;
}

.footer-logo{
    display: inline-block;
}
.footer-title{
    color:#FFFFFF; 
    padding-top: 20px;
}
.info{
    color:#FFFFFF99 ;
    font-size: 14px;
    font-weight: 400;
    padding-top: 9px;
}
.footer-social-block { 
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.footer-social-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  text-align: center;
  gap: 20px;
  justify-content: center;
  list-style: none;
}

.footer-social-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color:#555559;
  color: #FFFFFF;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.footer-social-list a:hover {
  background-color: #2196f3;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;

  
}

.footer-social-list a:hover .footer-icon {
  fill: #ffffff;
}
.footer-container{
  display: flex;
  gap: 90px;
}
@media (max-width: 1200px) {



	.header-menu,
	.header-second-menu {
		gap: 20px;
	}

	.header-menu {
		margin-left: 40px;
	}

	/* hero */
	.hero-inner {
		min-height: 400px;
	}

	.hero-title {
		font-size: 26px;
	}

	.team-card {
		flex-basis: 46%;
	}

	.team-card-link {
		height: 460px;
	}
}

@media (max-width: 992px) {
  
	.do-card {
		flex-basis: 46%;
	}
  .customers{
    display: none;
  }
}

@media (max-width: 768px) {


	.header {
		padding: 11px 0;
	}

	.header-menu,
	.header-second-menu {
		display: none;
	}
  .header-menu{
    margin-left: 0;
  }

	.header-burger {
		display: block;
		width: 24px;
		height: 16px;
		margin-left: auto;
		position: relative;
		cursor: pointer;
	}

	.header-burger::before,
	.header-burger::after,
	.header-burger span {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		height: 2px;
		background: #000;
	}

	.header-burger::after {
		top: auto;
		bottom: 0;
	}

	.header-burger span {
		top: 50%;
		transform: translateY(-50%);
	}

	.do-card {
		flex-basis: 100%;
	}

	.team-card {
		flex-basis: 100%;
	}

	.do,
	.team {
		padding: 60px 0;
	}

   .icons-container {
    display: block;
    

   }
   .icon{
    width: 100%;
   }
   .icon::before {
    width: 100%;
    
  }
   
    .footer-social-block{
      display: none;
    }
}
  
  @media (max-width:480px) {
    
   .container{
    width: 100%;
   }
   
    .do-card{
      display: none;
    }
    .icons-container{
    width: 100%;
    
  }
  .icons-container {
   display: block;
   
   
   

  }

  .icon {
    width: 100%;
    margin-bottom: 30px;
  }
.icons-title{
  text-align: center;
}
  .icon::before {
    width: 100%;
  
    
  
  
  }
  .team-title{
    font-size: 28px;
    font-weight: 700;
  }
   .footer {
    padding: 30px 0;
  }
  .footer-container{
    display: flex;
    text-align: center;
    justify-content: center;
    
  }

  .footer-logo {
    padding-top: 60px;
  }

  .inform{
    padding-top: 20px;
  }
  .footer-title{
    padding-top: 8px;
  }



  }
  







